/* --- RESET --- */
/* Regole che applicano ad un TAG per alterare il loro comportamento per tutto il sistema */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* per rendere il dimensionamento degli elementi più intuitivo */
}

body {
    font-family: "DM Sans", sans-serif;
    background-image: linear-gradient(
        to bottom,
        violet,
        blue
    );
    color: white;
}

h1, h2 {
    font-family: "Sigmar", sans-serif;
    letter-spacing: 2px;
    
}

img {
    display: block;
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}


/* UTILITIES */
/* Regole che permetto ad un elemento di interagire a prescindere dal luogo in cui si trova */
.btn {
    display: block;
    width: 100%;
    margin: 16px 0;
    border: none;
    padding: 12px 12px;
    border-radius: 28px;
    font-size: 1rem;
    
}

.btn.btn-primary{
    background-color: white;
    color: black;
}

.btn.btn-secondary{
    background-color: #5865f2;
    color: white;
}

.card {
    position: relative;
    margin: 2rem auto;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5rem 2rem 2rem 2rem;
    border-radius: 10px;
}

.card .card-eyes-img{
    border-radius: 10px;
    
}

.card .card-content-img{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    width: 120px;
}

/*LAYOUT*/
/* Regole che sono proprie dell'incasellamento e della spaziatura dei diversi elementi, sono imprescindibili dal luogo in cui si trovano(non possono essere usate al di fuori del luogo in cui si trovano) */
.main-page{
    padding: 2rem;
}

.main-header {
    text-align: center;
    padding: 2rem;
}

.main-header > h1 {
    letter-spacing: 2px;
    font-size: 2.2rem;
    line-height: 2.2rem;
    margin-bottom: 1.5rem;
    margin-top: 2.5rem;
}

